body {
  font-family: "Press Start 2P", cursive;
  background: linear-gradient(70deg, grey, black);
}

#title {
  color: rgba(172, 255, 47, 0.925);
  font-style: italic;
  text-align: center;
}

ul {
  color: rgba(172, 255, 47, 0.904);
}

.head {
  border: 5px solid chocolate;

  background-size: cover;

  background-repeat: no-repeat;
  background-image: url(bkgroundIMG.jpg);
}

#introtext {
  color: red;
  text-align: right;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 30px;
}

.div ,img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#article {
  color: rgba(172, 255, 47, 0.925);
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-weight: bolder;
  padding-top: 20px;
  vertical-align: middle;
}

.main2 {
  border: 0px solid chocolate;

  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(172, 255, 47, 0.945);
}

#copyright {
  font-size: small;
  text-align: center;
  padding-top: 20px;
}

contact-btn {
  float: right;
}
